.custom-toolbar {
    background-color: rgb(46, 158, 46);    
}
   
.btn-rojo {   
    background-color: rgb(46, 158, 46);   
    border-radius: 4px;   
    margin: 4px;   
    border: none;
}
   
.btn-rojo mat-icon {   
    color: white;   
}    
   
.custom-toolbar button,   
.custom-toolbar mat-icon {   
    color: white;   
}