.custom-toolbar {
    background-color: rgb(46, 158, 46);    
}
   
.btn-rojo {   
    background-color: rgb(46, 158, 46);   
    border-radius: 4px;   
    margin: 4px;   
    border: none;
}
   
.btn-rojo mat-icon {   
    color: white;   
}    
   
.custom-toolbar button,   
.custom-toolbar mat-icon {   
    color: white;   
}

.custom-toolbar {
  background-color: rgb(46, 158, 46); /* o el color que uses */
  color: rgba(255, 255, 255, 0.517);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 0 8px;
}

.custom-toolbar div {
  flex: 0 0 auto;
}

.custom-toolbar::-webkit-scrollbar {
  height: 6px;
}

.custom-toolbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
