<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <div>
    <button mat-button [routerLink]="['/landing']" style="color: white">
      <mat-icon>home</mat-icon>Home
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuUsuarios"
      class="btn-rojo"
      *ngIf="isAdmin() || isEstudiante()"
    >
      <mat-icon>person</mat-icon>
      Usuarios
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuCategorias"
      class="btn-rojo"
      *ngIf="isAdmin() || isEstudiante()"
    >
      <mat-icon>poll</mat-icon>
      Categorias
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuCursos"
      class="btn-rojo"
      *ngIf="isAdmin() || isEstudiante()"
    >
      <mat-icon>computer</mat-icon>
      Cursos
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuUsuarioCursos"
      class="btn-rojo"
      *ngIf="isAdmin() || isEstudiante()"
    >
      <mat-icon>wc</mat-icon>
      Usuario-Cursos
    </button>
  </div>
  
  
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuReportes"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>file_copy</mat-icon>
      Reportes
    </button>
  </div>
  <div>
  <button
    mat-button
    [matMenuTriggerFor]="menuProyectos"
    class="btn-rojo"
    *ngIf="isAdmin() || isEstudiante()"
  >
    <mat-icon>assignment</mat-icon>
    Proyectos
  </button>
</div>
<div>
  <button
    mat-button
    [matMenuTriggerFor]="menuTipoUsuario"
    class="btn-rojo"
    *ngIf="isAdmin() || isEstudiante()"
  >
    <mat-icon>people</mat-icon>
    Tipo de Usuario
  </button>
</div>
  <span class="toolbar-spacer"></span>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<mat-menu #menuCategorias="matMenu">
  <button mat-menu-item routerLink="/categoria">Listar</button>
  <button mat-menu-item routerLink="/categoria/nuevo" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<mat-menu #menuCursos="matMenu">
  <button mat-menu-item routerLink="/curso">Listar</button>
  <button mat-menu-item routerLink="/curso/Inserciones" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<mat-menu #menuUsuarioCursos="matMenu">
  <button mat-menu-item routerLink="/usuarioscursos">Listar</button>
  <button mat-menu-item routerLink="/usuarioscursos/InserccionesUsuarioCurso" *ngIf="isAdmin()">Registrar</button>
</mat-menu>


<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes">Reporte UsuariosxCurso</button>
  <button mat-menu-item routerLink="/reportes/PorcentajeCompleto">
    Reporte PorcentajexCursoCompleto
  </button>
  <button mat-menu-item routerLink="/reportes/ProyectosxUsuario">
    Reporte ProyectosxUsuario
  </button>
  <button mat-menu-item routerLink="/reportes/ProyectosxMes">
    Reporte ProyectosxMes
  </button>
</mat-menu>
<mat-menu #menuProyectos="matMenu">
  <button mat-menu-item routerLink="/proyecto">Listar</button>
  <button mat-menu-item routerLink="/proyecto/Inserciones" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<mat-menu #menuTipoUsuario="matMenu">
  <button mat-menu-item routerLink="/tipousuario">Listar</button>
  <button mat-menu-item routerLink="/tipousuario/Inserciones" *ngIf="isAdmin()">Registrar</button>
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/landing" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
  <button mat-menu-item>
    Username:
    <span>{{ usuario }}</span>
  </button>
  
</mat-menu>