<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>Lista de Proyectos</h1>
    </div>
    <div *ngIf="!dataSource.data || dataSource.data.length === 0" style="margin-top: 2rem;">
      <p style="text-align: center; font-size: 1.2rem; color: gray;">
        No existen Proyectos registrados.
      </p>
    </div>
    <p class="center-text">
    Total de Proyectos:
    {{ dataSource.data ? dataSource.data.length : 0 }}
    </p>
    <div>
                            <div class="card-grid">
                  <mat-card
                    class="mini-card"
                    *ngFor="let element of dataSource.data"
                    appearance="outlined"
                  >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ element.nombreProyecto }}</mat-card-title>
                    <mat-card-subtitle> Fecha de creación: {{
                      element.fechaCreacion|date:'dd/MM/yyyy'
                    }}</mat-card-subtitle>
                    <mat-card-subtitle> Fecha de Actualizacion: {{
                      element.fechaUltActualizacion|date:'dd/MM/yyyy'
                    }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      {{ element.contenido }}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button matButton [routerLink]="['ediciones', element.idProyecto]" >Actualizar</button>
                    <button matButton class="btn-eliminar" (click)="eliminar(element.idProyecto)">Eliminar</button>
                  </mat-card-actions>
                </mat-card>
              </div>

          <div style="display: flex; justify-content: center; margin-top: 16px;">
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
          </div>
          
          
    </div>
</div>