.mini-card {
  width: 200px; /* ajusta según tu diseño */
}

button mat-icon {
  color: white;
}

button {
  background-color: #3f51b5; /* azul Material */
  border-radius: 8px;
  margin: 5px;
  padding: 8px;
  color: white;
  border: none;
}

button:hover {
  background-color: #303f9f; /* azul más oscuro al pasar el mouse */
}
.btn-eliminar {
  background-color: #e53935; /* rojo Material */
  color: white;
  border-radius: 6px;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #c62828; /* rojo más oscuro al pasar el mouse */
}