<div class="container">
  <div style="text-align: center; margin: 5%"> 
    <div>
    <h1>{{ actualizar ? "Actualizar Asignaciones Tipo Usuario" : "Registro de Asignaciones Tipo Usuario"}}</h1>
    </div>
    <div>
        <div style="text-align: center; margin: 5%">
            <form [formGroup]="form" (submit)="aceptar()">
                <mat-form-field>
                <mat-label>Seleccione Tipo Usuario</mat-label>
                <mat-select formControlName="tipousu">
                    @for (food of listaTipoUsuario; track food) {
                    <mat-option [value]="food.idTipoUsuario">{{food.nombreTipoUsuario}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('tipousu')?.hasError('required')">
                    El tipo usuario es obligatoria!!
                </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                <mat-label>Seleccione Usuario</mat-label>
                <mat-select formControlName="usu">
                    @for (food of listaUsuario; track food) {
                    <mat-option [value]="food.idUsuario">{{food.usuario}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('usu')?.hasError('required')">
                    El usuario es obligatoria!!
                </mat-error>
                </mat-form-field>
                <br>
                <button mat-raised-button>{{ actualizar ? "Actualizar Asignaciones Tipo Usuario" : "Registro de Asignaciones Tipo Usuario"}}</button>
            </form>
        </div>
    </div>
</div>
