<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de lecciones</h1>
  </div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre de lecciones</mat-label>
        <input
          matInput
          placeholder="Leccion I"
          formControlName="tituloLecciones"
        />
        <mat-error *ngIf="form.get('tituloLecciones')?.hasError('required')">
          El nombre de la leccion es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Seleccione curso</mat-label>
        <mat-select formControlName="curs">
          @for (food of listaCurso; track food) {
          <mat-option [value]="food.idCurso">{{ food.nombreCurso }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('curs')?.hasError('required')">
          El curso es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>
