<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>{{ edicion ? "Actualizar" : "Registrar" }}</h1>
  </div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El ID es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Nombre del Desafio</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre del desafio es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          La descripcion es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Elija fecha de inicio</mat-label>
        <input matInput [matDatepicker]="pickerini" formControlName="fechaIn" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerini">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerini></mat-datepicker>
        <mat-error *ngIf="form.get('fechaIn')?.hasError('required')">
          La fecha inicial es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      
      <mat-form-field>
        <mat-label>Elija fecha fin</mat-label>
        <input matInput [matDatepicker]="pickerfin" formControlName="fechaCul" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerfin">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerfin></mat-datepicker>
        <mat-error *ngIf="form.get('fechaCul')?.hasError('required')">
          La fecha es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <button matButton="elevated">{{ edicion ? "Actualizar" : "Registrar" }}</button>
    </form>
  </div>
</div>
