<div class="container">
  <p>
    Total de Lecciones:
    {{ dataSource.data ? dataSource.data.length : 0 }}
  </p>
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Lecciones</h1>
  </div>
  <div style="text-align: center; margin: 5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idLecciones }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre del Titulo</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Nombre del curso</th>
        <td mat-cell *matCellDef="let element">
          {{ element.curso.nombreCurso }}
        </td>
      </ng-container>
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['ediciones', element.idLecciones]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idLecciones)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
